Screen {
    overflow: hidden;
}

#file_browser {
    height: 7fr;
}

#section_divider {
    height: 1;
    background: blue;
}

#playlist {
    height: 3fr;
}

#error_view {
    display: none;
    layer: overlay;
}

#error_view.visible {
    display: block;
    width: 100%;
    height: 100%;
}
